@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700;800&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-loader {
  background: #ff9e69 !important;
  height: 3px !important;
}
